*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background: linear-gradient(rgb(241, 234, 241), black);

}

.row{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first{
    background: linear-gradient(rgb(241, 234, 241), black);
 
}

.second{
    background: linear-gradient(blue, black);
 
}

.intro{
    font-size: 30px;
    font-weight: bold;
}